@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

* {
  margin: 0;
}

body {
  font-family: "Poppins", sans-serif;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
}

nav {
  display: flex;
  justify-content: space-between;
  /* gap: 35%; */
  /* min-width: 1280px;
  margin:0 auto; */
  align-items: center;
  height: 72px;
}

nav ul {
  display: flex;
  list-style: none;
  gap: 24px;
}

button {
  all: unset;
  padding: 6px 16px;
  height: 32px;
  color: white;
  font-weight: 500;
  background: rgb(164, 36, 36);
  border: 2px solid black;
}


.hero {
  display: flex;
  /* min-width: 1280px;
  margin:0 auto; */
  align-items: center;
  height: calc(100vh - 72px);
}

.hero-content {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.hero h1 {
  font-size: 108px;
  font-weight: 800;
  line-height: 102px
}

.hero p {
  font-weight: 600;
  color: gray;
}

.hero-btn {
  display: flex;
  gap: 40px;
}

.second-btn {
  background: transparent;
  color: rgb(164, 36, 36);
  font-weight: bold;
  font-size: 20px;
}

/* .hero-footer1{
  margin-top: 20px;
} */

.hero-footer2 {
  display: flex;
  gap: 20px;
  cursor: pointer;
}